services:
  backend:
    build: .
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - PORT=${PORT}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - ENV=${ENV}
    volumes:
      - ./temp:/app/temp
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    networks:
      - backend_app-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  n8n:
    image: n8nio/n8n:latest
    restart: unless-stopped
    environment:
      - TZ=America/Bogota
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - N8N_LOG_LEVEL=info
      - GENERIC_TIMEZONE=America/Bogota
      - YOUTUBE_API_KEY=${YOUTUBE_API_KEY}
      - API_URL=${API_URL}
      - N8N_RUNNERS_ENABLED=true
    ports:
      - "5678:5678"
    env_file:
      - .env
    volumes:
      - n8n_data:/home/node/.n8n
    container_name: n8n
    networks:
      - backend_app-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  n8n_data:

networks:
  backend_app-network:
    external: true